body{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
p{
    color:  #964B00;
    text-align: center;
}
h1{
    color: red;
    text-align: center;
    text-decoration: underline;
}
h3{
    color: black;
    text-align: center;
}
p{
    text-align: center;
    line-height: 30px;
}
h4{
    text-align: center;
}
a{
    color: #008000;
    text-decoration: none;
}
button{
    background-color: rgb(248, 245, 245);
    color: blueviolet;
}
textarea{
    color: #000000;
}
