

.one{
    height: 100px;
    width: 100px;
    border: 1px solid black;
    background-color: blue;
    
}

.two{
    height: 100px;
    width: 100px;
    border: 1px solid black;
    background-color: rgb(240, 71, 94);
    bottom: 50px;
    position: relative;
    z-index: -1;
}

.three{
    height: 100px;
    width: 100px;
    border: 1px solid black;
    background-color: rgb(14, 148, 81);
}