#mainTopic{
    color: blue;
}

*{
    text-align: center;
}

h1,h3,h5{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.para{
    color: white;
    background-color: cornflowerblue;
}
div button{
    color: azure;
    background-color: purple;
}
button:hover{
    background-color: yellow;
    color: blue;
}
.para:nth-of-type(2n){
    color: yellow;
}
#mainTopic::first-letter{
    color: red;
}

input[type="checkbox"]:checked+label{
    color: green;
}