<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
</head>
<body>
    <h1>home of our pagettt</h1>

    <h1><%="apnacolllege".toUpperCase() %></h1>

    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Id molestias reprehenderit libero recusandae facilis vitae iste eligendi quaerat, pariatur dolor, commodi similique, nobis sequi sit ipsum rem vel beatae adipisci?</p>
    <button>click me</button>
</body>
</html>