<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>This page belongs to @<%=data.name%></h1>
    <button>follow</button>
    <button>message</button>

    <p>followers:<%=data.followers%> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
    following:<%=data.following%></p>
    <hr>

     
</body>
</html>
