section{
    margin-top: 100px;
    
}
div{
    height: 45px;
    background-color: rgb(82, 230, 107);
    width: 200px;
    text-align: center;
    margin: 10px auto;
    border: 2px solid black;


}
div:nth-of-type(2n){
    background-color: aqua;
}
div:nth-of-type(3n){
    background-color: rgb(132, 132, 235);
}

#one{
    transform: rotate(90deg);
}
#two{
    transform: scale(0.5);
}
#three{
    transform: translatex(-198px );
}

#four{
    transform: skew(45deg);
}

#five{
    transform: rotate(30deg) translateX(100px);
}
